* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

header {
    text-align: center;
}

img {
    display: block;
    width: 100px;
    margin-left: 250px;
}

.titulo {
    color: #2a7db1;
    margin-bottom: 5px;
    font-size: 18px;
}

.contenedor-nota {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.nota-izquierda {
    text-align: left;
    width: 45%;
}

.nota-derecha {
    text-align: right;
    width: 35%;
}

.subtitulo {
    font-size: 15px;
    color: #2a7db1;
    margin-bottom: 5px;
}

.campo {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    font-size: 12px;
}

.campo p {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin-left: 5px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 10px;
}

table {
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
}

th {
    background-color: #d0cece; 
    padding: 2px 5px;
}

td {
    padding: 4px 10px;
}

td p {
    margin: 0;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid black; 
    white-space: nowrap;
    padding-bottom: 1px;
    text-align: left;
}

.cantidad, .numero, .codigo {
    text-align: center;
}

.resumen {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    width: 200px;
    margin: 20px 80px;
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #2a7db1;
    font-weight: bold;
    margin: 5px;
}

.valores {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
}

.campo-valores {
    display: grid;
    grid-template-columns: 15px auto;
    align-items: center;
    border-bottom: 1px solid #c08036;
    padding-bottom: 1px;
}

.campo-valores span {
    text-align: center;
    font-size: 12px;
}

.campo-valores p {
    margin: 0;
    text-align: right;
    width: 100%;
    font-size: 12px;
}

.garantia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin-top: 10px;
}

.detalle-garantia {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
}

.garantia-medio {
    font-size: 10px;
    color: gray;
}

.firmas {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 10px;
}

.firma {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.linea {
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

.nombre-firma {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}
